{
  "defaults": {
    "sport": "tennis",
    "courtBookingEnabled": true,
    "venue": "SCVCC",
    "autoMatchups": true
  },
  "groups": {
    "xxxxxxxx@g.us": {
      "name": "xxxxxxxx",
    }
  }
}
